.feature{
    background-color: $secondary-color;
    background-image: url("../img/feature-bg.svg");
    background-repeat: no-repeat;
    background-position: left calc(50% + 845px) bottom;
}

.feature__container{
    display: flex;
    justify-content: space-between;
    padding-top: 198px;
    padding-bottom: 140px;
}

.feature__heading{
    margin: 0;
    font-weight: bold;
    font-size: 48px;
    line-height: 48px;
    max-width: 445px;
    display: flex;
    flex-direction: column;
    position: relative;
    
    &::before{
        content: "";
        position: absolute;
        top: -54px;
        left: 0;
        width: 50px;
        height: 4px;
        background-color: $light-red-color;
    }
}

.feature__list{
    margin: 0;
    padding: 0;
    list-style-type: none;
}

.feature__item{
    max-width: 540px;
    display: flex;
    align-items: flex-start;
    
    &::before{
        content: "";
        flex-shrink: 0;
        width: 72px;
        height: 72px;
        margin-right: 23px;
        background-repeat: no-repeat;
        background-position: center center;
        background-size: contain;
    }
}

.feature__item--individuals{
    &::before{
        background-image: url("../img/individuals.svg");
    }
}

.feature__item--implement{
    &::before{
        background-image: url("../img/implement.svg");
    }
}

.feature__item--productivity{
    &::before{
        background-image: url("../img/productivity.svg");
    }
}

.feature__item + .feature__item{
    margin-top: 32px;
}

.feature__title {
    margin-top: 0;
    margin-bottom: 16px;
    font-size: 18px;
    line-height: 28px;
    color: $light-red-color;
}

.feature__description {
    margin: 0;
    font-size: 15px;
    line-height: 25px;
    opacity: 0.8;
}

@media only screen and (max-width: 1025px){
    .feature__heading{
        font-size: 38px;
        line-height: 48px;
    }
}

@media only screen and (max-width: 980px){
    .feature{
        background-position: right -100px top;
    }
    
    .feature__container{
        flex-wrap: wrap;
        padding: 154px 100px 100px;
    }
    
    .feature__heading{
        font-size: 32px;
        line-height: 32px;
        margin-bottom: 64px;
    }
}

@media only screen and (max-width: 625px){
    .feature__container{
        padding: 118px 25px;
    }
    
    .feature__heading{
        max-width: 240px;
        margin-bottom: 56px;
    }

    .feature__list{
        flex-direction: column;
        justify-content: center;
    }

    .feature__item{
        flex-direction: column;
        justify-content: center;
        max-width: 100%;
        text-align: center;
        margin-right: 0px;

        &::before{
            text-align: center;
            margin-right: auto;
            margin-left: auto;
            margin-bottom: 16px;
        }
    }
}