.site-header{
    padding-top: 73px;
    position: relative;
    z-index: 1;
}

.site-header__container{
    display: flex;
    align-items: center;
}

.site-header__inner{
    flex-grow: 1;
}

.site-header__toggle{
    display: none;
    position: relative;
    border: none;
    background-color: transparent;
    padding: 0;
    min-width: 20px;
    min-height: 17px;
    background-image: url("../img/toggle-open.svg");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: contain;

    &::after{
        content: "";
        position: absolute;
        width: 20px;
        height: 17px;
        transform: scale(2);
        top: 0;
        left: 0;
    }
}


@media only screen and (max-width: 768px){
    .site-header{
        padding-top: 64px;
    }
}

@media only screen and (max-width: 650px){
    .site-header__inner{
        display: none;
        position: fixed;
        z-index: -1;
        top: 0;
        left: 0;
        width: 100%;
        height: 100vh;
        background-color: rgba(0, 0, 0, 0.5);

    }

    .site-header--open .site-header__inner{
        display: block;
    }

    .site-header__toggle{
        margin-left: auto;
        display: block;
    }

    .site-header--open .site-header__toggle{
        background-image: url("../img/toggle-close.svg");
    }
}

@media only screen and (max-width: 375px){
    .site-header{
        padding-top: 48px;
    }
}